body {
background-color: cadetblue;
text-align: center;
}

.cabeçalho {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
    display: flex;
    justify-content: center;
}
p{
    color: black;
}

.BILLIE {
    font-style:italic;
}

.EILISH {
    width: 50%;
} 

element.style { 

    border: slategrey;

}
